* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    padding: 0;

    background: #fff;
      
}

html {
    /* overflow-y: scroll; */
    /* transition: all 0.1s; */
  }


::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #333;
}


a {
    text-decoration: none;
    color: #246ab6;
    cursor: pointer;

    transition: all ease 0.3s;
}

a:hover{
    color: #000;
}


