fieldset {
    padding:0;
    border:0;
}


label {
    /* display:none; */

    
    font-weight: 700;
    /* font-family: 'Source Sans Pro';  */
    font-size: 1.0em;
    display: block;
    margin: 0 0 5px 0;
}


.form-field {
    display: block;
    width: 100%;
    border: 0;
    padding: 12px 10px;
    border: 2px solid #ccc;
    /* border-radius: 20px; */
    
    /* font-weight: 600; */
    font-family: 'Source Sans Pro'; 
    font-size: 1.0em;
    
    
}

h1 .form-field {
    display: inline-block;
    width: 300px;
    margin-right: 10px;
    font-size: 0.5em;
}



.form-field:focus {
    border-color: #333;
    outline: none;
}

.hint {
    display: block;
    padding: 5px 0 0 0;
    margin: 0 0 25px 0;
    font-size: 0.9em;
    color: #999;
}