table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}


table th, table td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}
table th {
    text-align: left;
    /* border-width: 2px; */
    border-color: #999;
}


@media screen and (max-width: 568px) {
    

    .table-wrapper {
        overflow: auto;

        overflow-x: auto;
        min-height: 0.01%; 

        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
        background: #fff;

        margin: 0 0 20px 0
    }

    table {
        margin-bottom: 0;
    }

    table th, table td {
        white-space: nowrap;
        padding-left: 5px;
        padding-right: 10px;
    }

}