header {
    background: #246ab6;
    margin: 0 0 50px 0;
    padding: 8px 0;

    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    
}

header h1, header h2, header h3 {
    color: #fff;
}
