header {
    background: #246ab6;
    margin: 0 0 50px 0;
    padding: 8px 40px;
}

header h1, header h2, header h3 {
    color: #fff;
}

header ul {
    list-style: none;
    text-align: right;
    margin:10px 0 0 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    margin: 0 0 0 20px;
}

header ul li a{
    display: block;
    text-transform: uppercase;
    color: #fff;
    padding: 3px 10px;
    font-weight: 600
}

header ul li a:hover{
    color: #fff;
    background: #000;
}