.alert {
    /* border: 1px solid red; */
    
    background: #fae5e8;
    padding: 10px 15px;
    position: relative;
    margin: 0 0 30px 0;
}

.alert strong {
    color: #d41930;
    display: inline-block;
    margin: 0 10px 0 0;
}

.alert ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right:15px;
    
}

.alert ul li{
    display: inline-block;
    margin: 0 0 0 10px;
}

.alert ul li a{
    text-transform: uppercase;
    font-size: 0.9em;
}